ul {
	margin: 0;
	padding: 0;
  list-style-type: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: var(--white);
}

body {
	margin: 0;
	color: var(--white);
	font-family: var(--redHat);
	background-color: var(--darkBlue);
}
