.header {
  padding-top: 18px;
}

.logo {
  font-family: 'Adobe Garamond Pro';
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 50px;
  letter-spacing: 0.01em;
  color: var(--white);
}

.logo__pink {
  color: var(--pink);
}
.nav__menu,
.nav__seacrh,
.header__auth {
  align-items: center;
}
.header__auth {
  margin-left: 43px;
}

.auth__btn {
  font-family: 'Souliyo Unicode', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-right: 22px;
}

.nav__menu {
  margin-left: 35px;
  padding-left: 35px;
  border-left: 2px solid var(--white);
}

.nav__item {
  margin-right: 50px;
}

.search__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 65px 2px;
  margin-left: 94px;
  background: var(--darkGray);
  border-radius: 37px;
  max-width: 364px;
  max-height: 45px;
}

.search__bar {
  font-family: 'Souliyo Unicode', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--darkGray);
}

.search__icon {
  position: absolute;
  left: 25px;
  width: 25px;
  height: 25px;
  fill: var(--darkGray);
}

::-webkit-input-placeholder {
  color: var(--darkGray);
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::placeholder {
  color: var(--darkGray);
}
