.trends {
  padding: 30px 0;
}
.trends__row {
  margin: 0 -13px;
}

.section-header {
  justify-content: space-between;
  max-height: 44px;
  margin: 0 7px 43px 20px;
}

.trends__column {
  width: 20%;
  padding: 0 13px;
  box-sizing: border-box;
  transition: 0.3s;
}
.trends__column:hover {
  margin-top: -25px;
}
.trends__column:hover .trends__img {
  box-shadow: 0 0 50px 0 var(--shadow);
  cursor: pointer;
}
.trends__column:hover .trends__name {
  opacity: 1;
}
.trends__column:hover .trends__followers {
  margin-top: 35px;
  /* transform: translateX(-20%); */
}
.trends__column:hover .trends__icon {
  opacity: 0;
}
.trends__column:hover .trends__stars {
  display: inline-block;
  margin-bottom: -2px;
}
.trends__info {
  position: relative;
}
.trends__name {
  position: absolute;
  width: 100%;
  top: 5px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: var(--redHat);
  font-style: normal;
  font-weight: 500;
  font-size: calc(7.5px * 2.53);
  line-height: calc(10px * 2.53);
}
.trends__img {
  width: 100%;
  height: 305px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 25px;
  transition: 0.3s;
}
.trends__followers {
  display: inline-block;
  margin-top: 0;
  transition: 0.3s;
  font-family: var(--redHat);
  font-style: normal;
  font-weight: 400;
  font-size: calc(6px * 2.53);
  line-height: calc(9px * 2.53);
}

.trends__icon {
  transition: 0.3s;
}

.trends__stars {
  display: none;
}
